@import '../../../scss/variables.scss';

.ailos-form-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  @media #{ $mq-mobile } {
    flex-direction: column;
    align-items: flex-start;
  }
  &__btn {
    min-width: 172px;
    max-width: 172px;
    @media #{ $mq-mobile } {
      min-width: 102px;
      width: 100%;
    }
  }
}

.ailos-form-group {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  min-width: 270px;
  max-width: 270px;
  @media #{ $mq-mobile } {
    min-width: 100px;
    width: 100%;
    margin-bottom: 16px;
  }
}
