<div>
  <form
    [formGroup]="cooperativeSearchForm"
    (ngSubmit)="search()">

    <div class="ailos-form-container">
      <div class="ailos-form-group">

        <app-input-text
          formControlName="cpf"
          [id]="'cpf'"
          label="CPF"
          placeholder="CPF"
          [required]="true"
          [control]="cooperativeSearchForm.get('cpf')">
        </app-input-text>

        <app-message
          *ngIf="cooperativeSearchForm.get('cpf')?.errors?.['required'] && cooperativeSearchForm.get('cpf')?.touched"
          [error]="cooperativeSearchForm.get('cpf')?.errors?.['required']"
          message="CPF inválido"
        ></app-message>

      </div>

      <div class="ailos-form-container__btn">
        <app-button
          type="submit"
          text="Consultar por CPF"
          [loading]="loading"
          [disabled]="disabledButton">
        </app-button>
      </div>

    </div>
  </form>
</div>
