<section class="ailos-content">
  <!-- Sem necessidade do router-outlet -->
  <div class="row ailos-content__description mb-16">
    <h3 class="ailos-description__title ailos-title-page">Informe o CPF do futuro cooperado (a)</h3>
    <p class="ailos-description__text ailos-subtitle">
      Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.
    </p>
    <p class="ailos-description__text ailos-subtitle">
      Digite apenas os números (sem pontos ou traços).
    </p>
  </div>

  <div class="ailos-search">
    <app-cooperative-search
      (eventSearch)="consultCpf($event)">
    </app-cooperative-search>
    <app-message
      *ngIf="notFound"
      [error]="notFound"
      message="CPF não encontrado"
    ></app-message>
    <!-- TODO -->
    <!-- NÃO DEU TEMPO DE FAZER UM COMPONENTE ESPECÍFICO PARA APRESENTAÇÃO DE TOASTS NA TELA PARA O USUÁRIO -->
  </div>

  <section class="ailos-info">

    <div class="ailos-info__card"
      *ngIf="cpf">
      <app-info-card
        title="Situação cadastral do CPF"
        subtitle="Consulta na Receita Federal"
        [dataList]="dataList">
      </app-info-card>
    </div>

    <div class="ailos-subtitle color-dica">Busque pelo cpf "20466801890", existe no mock de dados!</div>

  </section>
</section>
