<header class="ailos-header">
  <div class="ailos-header__items-left">
    <h1 class="ailos-header__title ailos-exo-font-title">NOVA ADMISSÃO COOPERADO</h1>
    <div class="ailos-header__breadcrumb ailos-body-12">
      <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </p>
    </div>
  </div>
  <div>
    <div class="ailos-header__items-right">
      <div class="mr-16">
        notifications
      </div>
      <div class="mr-16">
        badge
      </div>
      <div>
        avatar
      </div>
    </div>
  </div>
</header>
