@import '../../../../scss/variables.scss';
@import '../../../../scss/typography.scss';

.ailos-input {
  width: 100%;
  height: 34px;
  background: $white;
  border: 1px solid $gray-4;
  border-radius: 2px;
  &:focus {
    border: 1px solid $ailos-blue;
  }
}

.ailos-label-container {
  margin-bottom: 6px;
}

.ailos-label {
  color: $ailos-black;
}
